body {
    max-width: 100%;
    margin: 20px;
    font-family: sans-serif Arial;
}

section {
    margin: 30px auto;
}

code {
    margin: 10px;
    display: block;
    overflow-y: scroll;
    width: 440px;
    max-width: 100%;
    height: 400px;
}